@model subzicart.Models.tblBrandPrefix

@{
    ViewBag.Title = "Insert_brandprefix";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





@if (ViewBag.message == "" || ViewBag.message == null)
{
}
else
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

        @ViewBag.message
    </div>
}


@using (Html.BeginForm("Insert_brandprefix",
                                      "admin",
                                      FormMethod.Post,
                                      new { enctype = "multipart/form-data", @data_ajax = "false" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Brand Master</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">


                <br />
                <div class="form-group" style="display:none">
                    @Html.LabelFor(model => model.brand_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.brand_id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.brand_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Brand Name</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.brand_name, new { htmlAttributes = new { @class = "form-control", @maxlength = "15" } })
                            @Html.ValidationMessageFor(model => model.brand_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Start Rang</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.sku_start_range, new { htmlAttributes = new { @class = "form-control", @maxlength = "6" } })
                            @Html.ValidationMessageFor(model => model.sku_start_range, "", new { @class = "text-danger" })
                        </div>
                    </div>
                   





                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Brand Prefix</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.brand_prefix, new { htmlAttributes = new { @class = "form-control", @maxlength = "10" } })
                            @Html.ValidationMessageFor(model => model.brand_prefix, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End Range</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.sku_end_range, new { htmlAttributes = new { @class = "form-control", @maxlength = "6" } })
                            @Html.ValidationMessageFor(model => model.sku_end_range, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Status</label>   <div class="col-md-10">

                            <select name="active" id="select_product" class="form-control">
                                @if (ViewBag.isActive == 1)
                                {
                                    <option value="1">Active</option>
                                    <option value="0">Deactive</option>
                                }
                                else
                                {

                                    <option value="0">Deactive</option>
                                    <option value="1">Active</option>
                                }



                            </select>
                            @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @if (ViewBag.update == "0")
                            {
                                <input type="submit" name="command" value="Save" class="btn btn-default" />
                                <input type="submit" name="command" value="Cancel" class="btn btn-default" />
                            }
                            else
                            {
                                <input type="submit" name="command" value="Update" class="btn btn-default" />
                                <input type="submit" name="command" value="Cancel" class="btn btn-default" />
                            }

                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>

        </div>

    </div>

}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">View All Brand</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Brand Name
                    </th>
                    <th>
                        Brand Prefix
                    </th>
                    <th>
                        Start Range
                    </th>
                    <th>
                        End Range
                    </th>
                    <th>
                        Status
                    </th>

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.category.Rows)
                {

                    <tr>
                        <td>
                            @item["brand_id"]
                        </td>

                        <td>
                            @item["brand_name"]
                        </td>
                        <td>
                            @item["brand_prefix"]
                        </td>
                        <td>
                            @item["sku_start_range"]
                        </td>
                        <td>
                            @item["sku_end_range"]
                        </td>
                        <td>

                            @if (item["active"] == 1)
                            {
                                <span>Active</span>
                            }
                            else
                            {
                                <span>Not Active</span>
                            }
                        </td>


                        <td>
                            @Html.ActionLink("Update", "Insert_brandprefix", new { mid = item["brand_id"] }, new { @class = "edit" })
                            @Html.ActionLink("Delete", "Deletebrandprefix", new { mid = item["brand_id"] }, new { onclick = "return confirm('Do you really want to delete ?')", @class = "delete" })

                        </td>
                    </tr>
                }
            </tbody>

        </table>





    </div>
    <!-- /.card-body -->
</div>




<script type="text/javascript">
    function Submit() {
        if (confirm("Are you sure you want to submit ?")) {
            return true;
        } else {
            return false;
        }
    }
</script>









